<h2 class="margin-top"><%= t("budgets.investments.new.recommendations_title") %></h2>

<ul class="recommendations">
  <li><%= t("budgets.investments.new.recommendation_one") %></li>
  <li><%= t("budgets.investments.new.recommendation_two") %></li>
  <li><%= t("budgets.investments.new.recommendation_three") %></li>
</ul>
